@import url(./resetcss/reset.css);

#hdBanner {
  position: fixed;
  width: 100%;
  background: #222;
  z-index: 9999;
  height: 30px;
}
.hdBanner-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hdBanner-title > a {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 30px;
}

.nbContainer {
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.nbWrap {
  position: relative;
  display: flex;
  padding: 30px 50px 0;
}

.logo-svg2 {
  width: 180px;
  margin-left: 50px;
  margin-top: 46px;
}

.categoryWrap {
  margin-left: 50px;
  margin-top: 69px;
}

.categoryWrap li {
  display: inline-block;
  margin-right: 30px;
}

.nbRight {
  position: relative;
  display: flex;
  padding: 30px 50px 0;
}
.nbRight ul {
  display: flex;
  margin-right: 50px;
  margin-top: 69px;
}

.nbRight ul li {
  display: inline-block;
  margin-right: 30px;
}

.categoryWrap > li > a {
  font-size: 16px;
  font-weight: bold;
}
.nbRight > ul > li > a {
  font-size: 16px;
  font-weight: bold;
}

.allMenuBox {
  display: none; /* 기본 상태는 숨김 */
}

.allMeunContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 150px 0 90px;
}

.menuLeftWrap {
  flex: 1;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.menuRightWrap {
  display: flex;
  justify-content: center;
  flex: 1;
  box-sizing: border-box;
  border-left: 1px solid #cdcdcd;
  margin-top: 20px;
}
.menuLeftWrap ul li {
  margin: 20px 50px;
}

.menuRightWrap div {
  padding: 0 50px;
}

.menuRightWrap div h4 {
  font-weight: bold;
  margin-bottom: 13px;
}

.menuRightWrap div ul li {
  margin: 20px 0;
}

footer {
  /* position: fixed;  */
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.minSizeWrap {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  padding: 62px 50px 70px;
}

footer .f_section {
  font-size: 12px;
}

.company_cs h3 {
  font-weight: 600;
}

.company_chat a {
  text-decoration: underline;
  display: inline-block;
  margin-right: 5px;
}

.company_addr {
  margin-top: 30px;
}

.link {
  display: flex;
  flex-direction: column;
}

.link a {
  text-decoration: underline;
}

.f_title {
  margin-bottom: 18px;
}
.f_section .f_section06 {
  font-size: 12px;
}
